<!DOCTYPE html>
<html lang="de">

<%- include('partials/head', { title }) %>

<body class="page container-fluid">
<rts-header></rts-header>

<main class="main row g-0">
    <!--Nav-->
    <div class="col col-lg-2">
        <rts-nav></rts-nav>
    </div>
    <div class="col-sm-12 col-lg-10">
        <section class="text-block">
            <%- body %>
        </section>
    </div>
</main>

<rts-footer></rts-footer>
</body>

</html>
